<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname" style="text-align: center">
			Machine Learning App with Flask
		</div>
            <br/>
		<h2>Job title Classification by industry </h2>

	</div>
	</header>

	<div class="ml-container" style="margin: auto;width: 50%;border: 3px solid green;padding: 10px;">

		<form action="{{ url_for('predict')}}" method="POST" style="margin: auto;width: 50%;padding: 10px;">
		<p>Enter Your Job Title Here</p>
		<input name="message"/>
		<br/>

		<input type="submit" class="btn-info" value="predict">

	</form>

	</div>




</body>
</html>
